<div class="cowboy-container container">
  <h1>Dot Dollars Report</h1>
  <div class="report-header">

    <p>We know that the issues with our Dot Dollars report have impacted your ability to help your customers and we sincerely apologize.  It is not up to our standards and we will do everything possible to prevent these issues in the future. With our one day Dot Dollars extension, there is still time left to enter in those last orders!</p>

    <p>Please use your Stylist ID and Last Name to retrieve a list of dot dollar codes.  These are unused codes as of 1/6 noon PT. If a code is not working, it may have been used by your customer since we pulled this list. Try another code from your customer's list.</p>

  </div>
  <div class="report-body">
    <div class="report-query">

      <div class="stylist-auth">
        <h2>Your information:</h2>
        <div class="auth-form">
          <label for="stylistId">Stylist Id:</label>
          <input ng-model="main.id" type="text" class="form-control" name="stylistId" placeholder="6 Digit Id" >
          <label for="stylistId">Last name:</label>
          <input ng-model="main.last" type="text" class="form-control" name="lastName" placeholder="Last name" >

          <button type="submit" class="btn btn-default" ng-click="main.getData()">Submit</button>
        </div>
      </div>

      <p>Having trouble?  If you use your middle name on your stylist account, please enter both your middle and last name.</p>
      <p> If you continue to have trouble, please post your questions in the post on Stellaverse.</p>

    </div>

    <div class="report-response">

      <h2>Your Customers and Codes:</h2>

      <div class="initial" ng-if="main.found == null">
        <h4>Please enter your information</h4>
      </div>

      <div class="searching" ng-if="main.searching">
        <h4>Searching for codes...</h4>
      </div>

      <div class="results" ng-if="main.found">
        <table class="results-table">
          <tr>
            <th>Customer Last Name</th>
            <th>Customer First Name</th>
            <th>Code</th>
          </tr>
          <tr ng-repeat="entry in main.results">
            <td>{{ entry.last }}</td>
            <td>{{ entry.first }}</td>
            <td>{{ entry.code }}</td>
          </tr>
        </table>
      </div>

      <div class="no-results" ng-if="main.found === false">
        <h4>I&apos;m sorry, we couldn't find you. Please check your information and try again.</h4>
      </div>

    </div>
  </div>

</div>
