html, body {
  height:100%;
  background:#ddd;
}

h1, h2, h3 {
  margin-top:0;
}

#view-root {
  display:flex;
  flex-direction:column;
}

.cowboy-container {
  padding:0;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  background:#fff;
  overflow:hidden;
  box-shadow:0 0 20px #999;

  > * {
    padding:0 20px;
  }

  > * + * {
    margin-top:20px;
  }

  h1 {
    background:#79c7c9;
    color:#fff;
    padding:10px 20px;
    line-height:1.4em;
    box-shadow:0 0 5px 0 #999;
    letter-spacing:.7px;
  }

  p {
    font-size:14px;
    line-height:1.4em;
  }

  .auth-form {
    //max-width:200px;
    margin-bottom:10px;

    button, label:not(:first-child) {
      margin-top:10px;
    }
  }

  .results-table {
    margin-top:10px;
    width:100%;

    th, td {
      padding:10px;
      //min-width:220px;
      text-align:center;
    }

    th {
      background:#666;
      color:#fff;
    }

    th + th {
      border-left:1px solid #ccc;
    }

    tr:nth-child(2n +1) {
      background:#eee;
    }
  }
}

.report-body {
  flex:1 1 auto;
  display:flex;
  flex-direction:row;
  align-items:stretch;
  padding-bottom:40px;

  .report-response {
    flex:1 1 auto;
  }

  @media screen and (min-width:700px) {


    .report-query {
      width:250px;
    }

    > * + * {
      margin-left:40px;
      padding-left:40px;
      border-left:1px solid #999;
    }
  }

  @media screen and (max-width:699px) {
    flex-direction:column;

    > * + * {
      margin-top:40px;
      padding-top:40px;
      border-top:1px solid #999;
    }
  }
}
